<h2>DASHBOARD</h2>

<div class="dashboard">
    <div class="dashboardPanel whiteFont f1Font" id="drivers" routerLink="/drivers">
        <div class="overlay">
            <div class="text">Drivers</div>
        </div>
    </div>

    <div class="dashboardPanel whiteFont f1Font" id="teams" routerLink="/teams">
        <div class="overlay">
            <div class="text">Teams</div>
        </div>
    </div>

    <div class="dashboardPanel whiteFont f1Font" id="circuits" routerLink="/circuits">
        <div class="overlay">
            <div class="text">Circuits</div>
        </div>
    </div>
</div>