/* You can add global styles to this file, and also import other style files */

.listPanel {
    display: flex;
    font-size: 20px;
    border-radius: 5px;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    margin: 5px;
    background-color: black;
}


h1 {
    font-size: 250%;
  }
h2, h3 {
    font-weight: bolder;
}
  

.title{
    margin: 40px;
}

.greyColor{
    background-color: #333240
}

.blackColor{
    background-color: black;
}

.whiteFont{
    color: white;
}

.f1Font{
    font-family: 'Titillium Web', sans-serif;
}

.bold{
    font-weight: bold;
}

.listPanel:hover{
    background-color: rgba(128, 128, 128, 0.267);
}

table {
    font-family: 'Titillium Web', sans-serif;
    border-collapse: collapse;
    border: 1px solid white;
}

td, th {
    border: none;
    text-align: left;
    padding: 8px;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #333240;
}

tr:nth-child(odd) {
    background-color: black;
}

a{
    color: white;
}

.margin25{
    margin: 25px;
}

.f1Button{
    background-color: #FF1801;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.f1Button:active{
    background-color: #B21101;
    outline: none;
}

.font10px{
    font-size: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}